.header{
  // background-image: url("../images/desk.jpg");
  // background-size: auto;
  // background-repeat: no-repeat;
  // min-height: 10em;

background-color: #166088;
color: aliceblue;
font-size: 2em;


}
.header-box-right{
  background-color: #4F6D7A;
  img{
  width: 100%;
}
}