
ul{
    list-style: none;
}
body{
    font-family: sans-serif;
    background-color: #DBE9EE;
}
.front-end-development{
    text-align: center;
    border-bottom: black solid 1px;
    h3{
        display: inline-block;
        border-bottom: solid 3px #4A6FA5;
    }
    
}
.contact{
    background-color: #4A6FA5;
    text-align: center;
    
    border-bottom:  solid 1px #DBE9EE;
    img{
        width: 20%;
        height: 4em;
        padding: 10px;
        &:hover{
            animation-name: luminate;
            animation-duration: 1s;
            animation-iteration-count: 1;
            background-color: #5c8cd3;
        }
    }
    h3{
        text-align: center;
        border: aliceblue 2px solid;
        display: inline-block;
        padding: 5px;
    }

}  
  
@keyframes luminate{
    from{}
    to{
        transform: scale(1.5)
    }
}
.services{
    border-bottom: black solid 1px;
}
.skills{
    background-color: #4A6FA5;
    text-align: center;

    h3{
        padding: 5px 10px 5px 10px;
        text-align: center;
        border: aliceblue 2px solid;
        display: inline-block;
    }
}
.stack{
    
    text-align: center;
    border-bottom:  solid 1px #DBE9EE;
}
.ux-design{
    background-color: #4A6FA5;
    img{
        width: 100%;
    }
}
.media-design{
    border-left: solid 2px #4A6FA5;
   
}